<!DOCTYPE html>
<html lang="en">

<head>

    <title>Missouri Wins Guide to 2022 Legislative Races</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel=stylesheet href="{{ static('css/styles.css') }}" />
    
</head>

<body>

    <main role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div id="home-card" class="card mt-4" style="width: 100%;">
                        <img id="hero-img" src="{{ static('images/mowin-logo.png') }}" class="card-img-top" alt="Missouri Wins Investor Network">
                        <div class="card-body">
                            <h3 class="card-title">Missouri Wins Guide to 2022 Legislative Races</h3>
                            <p class="card-text">Sign in with your Google account to view the dashboard</p>
                            <a class="google-logo btn btn-outline-light" href="{{ url('social:begin', backend='google-oauth2') }}">Sign in</a>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </main>

</body>

</html>